<%- include("partials/header") -%>

  <div>
    <div class="heading">
      <h1>Transporter's Dashboard </h1>
    </div>
    <div class="box dashboard_box">
      <div class="conatiner m-3 search_div">
        <form class="d-flex" method="post" action="/search_t">
          <input class="form-control me-2" type="search" placeholder="Search" name = "find_this" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <div class="container box-2">
            <div class="form-check container">
              <input class="form-check-input" type="radio" name="option" id="transporter" value="Oder_id">
              <label class="form-check-label" for="transporter">
                Order
              </label>
            </div>
            <div class="form-check container">
              <input class="form-check-input" type="radio" name="option" id="transporter" value="To">
              <label class="form-check-label" for="transporter">
                To
              </label>
            </div>
            <div class="form-check container">
              <input class="form-check-input" type="radio" name="option" id="transporter" value="From">
              <label class="form-check-label" for="transporter">
                From
              </label>
            </div>
          </div>
        </form>
        <div class="conatiner form_button">
          <form action="/fill_manufacture" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Fill form</button>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <% All_objects.forEach((obj)=>{ %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#<%=obj.Oder_id %>" aria-expanded="false" aria-controls="flush-collapseOne">
                  <%=obj.Oder_id %>
                </button>
              </h2>
              <div id="<%=obj.Oder_id %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul>
                    <li>
                      Price ->
                      <%=obj.Price %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <%}); %>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") -%>